.blogs-creater {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 0;
}
.store-two {
  margin-top: 0px;
  width: 90%;
  display: flex;
  gap: 30px;
}

.blog-update {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--main-section-color);
  overflow-y: scroll;
  height: 70vh;
}
.blog-update::-webkit-scrollbar {
  width: 4px;
}

.blog-update::-webkit-scrollbar-thumb {
  background-color: #5d5d5d;
}

.blog-update::-webkit-scrollbar-track {
  background-color: #686868;
}

.blogsjs {
  width: 100%;
}
.text-not {
  padding-top: 20px;
  display: flex;
  background-color: transparent;
  gap: 20px;
  color: white;
  justify-content: center;
}
.text-not p {
  flex: 1;
  padding: 20px;
  background-color: rgb(45, 45, 45);
  text-transform: none;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 10px;
}
.text-not button {
  width: 16%;
  border: none;
  border-radius: 14px;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.create-new p {
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  color: rgb(182, 182, 182);
}
.form-blog-create {
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: fit-content;
  padding: 15px;
  align-items: center;
  justify-content: center;
}
.form-blog-create input {
  flex: 1;
  height: 29px;
}
.form-blog-create form {
  border-radius: 0px;
  background-color: transparent;
}
.form-blog-create form .upload {
  padding-left: 20px;
  border-radius: 0;
  background-color: transparent;
  height: 30px;
}
.form-blog-create p {
  width: 20%;
  color: #a6a001;
  font-size: 10px;
  background-color: transparent;
}
.form-blog-create textarea {
  background-color: #2f2f2f;
  border-radius: 10px;
  border: none;
}

/* .active-link  styling */
.active-link {
  color: #a6a001;
}

/* blog post */
.title-blog {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
}
.title-blog p {
  width: 10%;
  color: white;
  font-size: 13px;
  text-align: left;
}
.title-blog input {
  border-radius: 10px;
}

@media only screen and (max-width: 720px) {
  .store-two {
    margin-top: 30px;
    flex-direction: column;

    gap: 30px;
  }
  .blog-update {
    width: 91%;
  }
  .create-new {
    width: 90%;
    margin-bottom: 40px;
  }
  .text-not p {
    font-size: 9px;
  }
  .text-not button {
    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
  }
}
