.chart-container {
  margin-top: 3%;
  display: flex;
  padding-left: 50px;
  padding-right: 3%;
  background-color: transparent;
  gap: 40px;
}
.cicle {
  width: 29%;
  background-color: transparent;
}
.chart {
  background-color: transparent;
  width: 63%;
  height: 500px;
  padding-left: 2%;
}
#columnchart_material {
  background-color: #4f4747;
  width: 100%;
  height: 400px;
}
#piechart_3d {
  width: 100%;
  height: cover;
  color: #dcdcdc;
}
@media only screen and (max-width: 720px) {
  .chart-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-top: 3%;
    display: flex;
    padding-left: 0px;
    padding-right: 0%;
    background-color: transparent;
    gap: 10px;
  }
  .cicle {
    width: 60%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chart {
    background-color: transparent;
    width: 90%;
    height: 500px;
    padding-left: 2%;
  }
}
