:root {
  --main-background-color: #101113;
  --main-section-color: #1e1e1e;
  --main-yelow-color: #a6a001;
  --main-header-color: #1e1e1e;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Syne", sans-serif;
  background-color: var(--main-background-color);
}

.dash-container {
  width: 100%;
  min-height: 100vh;

  box-sizing: border-box;
  overflow: hidden;
}
.header-dash {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: transparent;

  position: fixed;
  top: 0;
  left: 0;
}

.left-dash-header {
  padding: 10px;
  /* min-width: 360px; */
  width: 23%;
  height: 100vh;
  min-height: 600px;
  background-color: var(--main-header-color);
  padding-top: 30px;
}
.headre-right {
  flex: 1;
  background-color: var(--main-header-color);
  height: 70px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8%;
}

.right-dash-header {
  width: 80%;
  gap: 20px;
}

.left-content {
  background-color: transparent;
  flex: 1;
  border-bottom: 2px solid rgb(130, 130, 130);
  padding: 20px;
  /* min-width: 240px; */
  height: 3%;
}
.top-header-text {
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.admin-profile {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  height: 100%;
  gap: 30px;
}
.admin-profile img {
  margin-left: 30px;
  border-radius: 50%;
}
.name {
  background-color: transparent;
  color: #d9d9d9;
  font-family: Syne;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 31.2px */
}
.name-profile {
  width: 70%;
  background-color: transparent;
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.name-profile .admin {
  color: var(--yellow, #a6a001);
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}
.button-submit {
  background-color: #a6a001;
  color: #fff;
  border: none;
  border-radius: 10px;
}
.button-submit:hover {
  background-color: #615d01;
}

/* the container button */
.left-buton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}
.left-buton a {
  flex: 1;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  text-decoration: none;
  text-align: left;
}
.active {
  color: #a6a001;
}
.left-buton img {
  width: 6%;
  background-color: transparent;
}

.left-buton .color-tex {
  color: white;
  font-family: Syne;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  background-color: transparent;
  transition: 0.2s;
}
.active-dash {
  color: #a6a001;
  font-family: Syne;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  background-color: transparent;
  transition: 0.2s;
}
.left-buton p:hover {
  color: var(--main-yelow-color);
  cursor: pointer;
}
.number-notification {
  width: 30px;
  text-wrap: 0;
  text-align: center;
  padding: 3px;
  font-size: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 25px;
}

/* top header -section */
.right-dash-header .admin-profile {
  width: 14%;
}
.right-dash-header input {
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: rgb(49, 49, 49);
  text-align: center;
  font-size: 20px;
  color: rgb(145, 145, 145);
}
.headre-right .menu-dash {
  display: none;
}
@media only screen and (max-width: 1450px) {
  .top-header-text {
    font-size: 23px;
  }
}
@media only screen and (max-width: 1000px) {
  .left-dash-header {
    width: 30%;
  }
  .left-content {
    min-width: 100px;
  }
  .top-header-text {
    font-size: 20px;
  }
  .left-buton a p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1100px) {
  .left-dash-header {
    display: none;
  }
  .right-dash-header {
    width: 100%;
  }

  .admin-profile {
    align-items: center;
    gap: 10px;
  }
  .admin-profile img {
    height: 40px;
    margin-left: 1%;
    border-radius: 50%;
  }
  .name {
    background-color: transparent;
    font-size: 10px;
  }
  .headre-right {
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .header-dash .menu-dash {
    width: 30px;
    height: 30px;
    display: block;
  }
}
