.notification-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.one-chart {
  margin-top: 20px;
  width: 80%;
  background-color: #2b2a2a;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.one-chart .header-top {
  background-color: transparent;
  color: #baddff;
  font-family: Syne;
  font-size: 20px;
  font-style: normal;
  text-transform: lowercase;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 130%; /* 41.6px */
}
.one-chart .decription-notif {
  margin-left: 50px;
  color: #c5bebe;
  font-size: 16px;
  font-style: normal;
  background-color: transparent;
  text-transform: none;
  text-decoration: none;
  font-weight: 500;
}
.one-chart .button {
  width: 90%;
  background-color: transparent;
  justify-content: flex-end;
}

.one-chart .button button {
  margin-top: 15px;
  border: none;
  border-radius: 14px;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.accept {
  background-color: #a6a001;
}
.accept:hover {
  background-color: #757109;
}
.delete {
  background-color: #910009;
}
.delete:hover {
  background-color: #6a1218;
}

@media only screen and (max-width: 720px) {
  .one-chart .button {
    justify-content: center;
    gap: 20px;
  }
  .notification-container {
    margin-bottom: 40px;
  }

  .one-chart .decription-notif {
    margin-left: 0px;
    color: #c5bebe;
    font-size: 16px;
    text-align: center;
  }
  .one-chart {
    padding: 20px;
  }
}
