.table-sub {
  margin-left: 8%;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.texxeditor {
  width: 90%;
  display: flex;
}

.rte-fixed .rte-floatpanel-paragraphop {
  display: none;
}

.post-blog {
  width: 30%;
  background-color: #a6a001;
  margin-top: 20px;
  padding: 20px;
  color: white;
  font-size: 26px;
  border: none;
  border-radius: 15px;
  transition: 0.2s;
}
.post-blog:hover {
  background-color: #4f4c09;
}
@media only screen and (max-width: 720px) {
  .table-sub {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
