.blog-container {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
}
.blog-review {
  background-color: transparent;
  height: 500px;
  min-width: 400px;
  width: 100%;
  overflow: hidden;
}
.blog-review img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

/* scroll section */
.scroller-section {
  max-width: 1920px;
  padding-left: 8%;
  padding-right: 8%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-container p {
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
}
.blog-container img {
  width: 100%;
  background-color: transparent;
  border-radius: 20px;
}

.blogs-with-button {
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: fit-content;
  gap: 10px;
  overflow: auto;
  width: 70%;
}
.blogs-with-button::-webkit-scrollbar {
  display: none;
}

.blog-title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-family: Syne;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.blog-description {
  color: #c5bebe;
  font-family: Syne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.link-blog {
  text-decoration: none;
}

.blog-slider {
  display: flex;
  width: 90%;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 20px;
  max-width: 1920px;
  overflow: auto;
}

.like-blog {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 5px;
  padding-top: 7px;
  font-weight: 700;
}
.like-blog p {
  font-size: 20px;
  color: var(--main-yelow-color);
  padding: 0;
}

/* style button */

.button-left-home {
  margin-right: 30px;
  display: none;
}

.button-right-home {
  margin-left: 30px;
  display: none;
}
.button-right-home,
.button-left-home {
  cursor: pointer;
  color: white;
  font-size: 27px;
  border-radius: 40%;
  padding: 4px 13px 6px 13px;
  background-color: transparent;
  border: 1px solid white;
  transition: 0.3s;
}
.button-right-home:hover,
.button-left-home:hover {
  background-color: var(--main-yelow-color);
}

/* blog post */
.title-blog {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.title-blog p {
  width: 30%;
}
@media only screen and (max-width: 1200px) {
  .like-blog {
    padding-left: 3px;
    padding-top: 2px;
    display: flex;
    gap: 2px;
  }
  .like-blog p {
    font-size: 10px;
  }
  .button-right-home,
  .button-left-home {
    cursor: pointer;
    color: white;
    font-size: 10px;
    border-radius: 40%;
    padding: 4px 13px 6px 13px;
    background-color: transparent;
    border: 1px solid white;
    transition: 0.3s;
  }

  .blog-description {
    display: none;
  }
  .blog-title {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .blogs-with-button {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    gap: 10px;
    overflow: none;
    width: 100%;
  }
  .button-right-home,
  .button-left-home {
    display: none;
  }
  .blog-description {
    display: none;
  }

  .blog-title {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .blogs-with-button {
    border-radius: 0px;

    overflow: cover;
  }
  .blog-review {
    width: 100%;
    height: fit-content;

    min-width: 350px;
  }

  .blog-description {
    display: none;
  }

  .blog-title {
    font-size: 16px;
    text-align: center;
  }

  .blog-slider {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
