footer {
  background-color: var(--main-header-color);
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  bottom: 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

/* footer */
.footer-text {
  display: flex;
  width: 100%;
  max-width: 1920px;
  flex-direction: row;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 10px;
  padding-top: 30px;
}

/* footer body */
.section-logo-footer {
  width: 30%;
  height: 100%;
  background-color: aqua;
}

.betweeen-footer {
  width: 30%;
  height: 100%;
  background-color: aquamarine;
}

.right-footer {
  width: 30%;
  height: 100%;
  background-color: bisque;
}
/* copyright  */
.copy-right {
  height: 50px;
  background-color: var(--main-header-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy-right p {
  background-color: transparent;
  text-align: center;
  color: #fff;

  text-align: center;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

@media only screen and (max-width: 406px) {
  .copy-right p {
    font-size: 10px;
  }
}
