footer {
  background-color: var(--main-header-color);
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  bottom: 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

/* footer */
.footer-text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  gap: 10px;
  padding-top: 30px;
  max-width: 1920px;
  margin-bottom: 30px;
}
/* footer body */
.right-footer,
.section-logo-footer {
  top: 0;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  background-color: transparent;
  align-items: start;
  margin-left: 40px;
  padding-right: 50px;
}

.betweeen-footer {
  display: flex;
  width: 30%;
  background-color: transparent;
}

.right-footer {
  width: 30%;
  background-color: transparent;
}
/* copyright  */
.copy-right {
  height: 50px;
  background-color: var(--main-header-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy-right p {
  background-color: transparent;
  text-align: center;
  color: #fff;

  text-align: center;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* footer icons images right */
.logo-link {
  background-color: transparent;
  align-items: flex-start;
  display: flex;
  margin-top: 0;
}
.logo-footer {
  width: 200px;
  margin-bottom: 40px;
  margin-left: 0px;
  background-color: transparent;
}

.footer-left-text {
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}
.phone-footer {
  color: #fff;
  font-family: Syne;
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons-footer {
  width: 20px;
  background-color: transparent;
  margin-right: 10px;
  margin-top: 10px;
}

/* footer center section */
.pages-footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background-color: transparent;
}
.links-list,
.links-list1 {
  background-color: transparent;
}

.links-list1 p,
.links-list a {
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin-top: 20px;
  text-align: left;
  background-color: transparent;
}
.right-footer h1,
.services-footer h1,
.pages-footer h1 {
  margin-bottom: 40px;
  background-color: transparent;
  font-size: 26px;
}
.services-footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background-color: transparent;
}
.links-list a {
  cursor: pointer;
}
.links-list a:hover {
  color: var(--main-yelow-color);
}
.right-footer h1 {
  padding-bottom: 60px;
  margin-top: 0;
  padding-bottom: 63px;
}
.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  background-color: transparent;
  margin-left: 40px;
}

.right-footer form {
  background-color: transparent;
  display: flex;
  border-bottom: 2px solid white;
}

.right-footer select {
  width: 300px;
  border: none;
  background-color: transparent;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
}

.right-footer select:focus {
  border: none;
}
.right-footer select option:focus {
  border: none;
}
@media only screen and (max-width: 406px) {
  .copy-right p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .copy-right {
    border-top: 1px solid white;
    width: 100%;
  }
  .copy-right p {
    font-size: 20px;
  }
  .footer-left-text {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 10px;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: cover;
    gap: 10px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  footer {
    padding: 0;
  }
  .right-footer,
  .section-logo-footer {
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }
  .footer-left-text {
    text-align: center;
  }
  .right-footer h1 {
    padding-bottom: 0px;
  }

  .betweeen-footer {
    width: 100%;
    margin-bottom: 60px;
  }
  .pages-footer {
    margin-left: 50px;
  }
  .right-footer select {
    width: 170px;
  }
}
