* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Syne", sans-serif;
  background-color: var(--main-background-color);
}

:root {
  --main-background-color: #101113;
  --main-section-color: #1e1e1e;
  --main-yelow-color: #a6a001;
  --main-header-color: #1e1e1e;
}
.conatiner {
  width: 100%;
  min-height: 100vh;

  box-sizing: border-box;
  overflow: hidden;
}
