* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Syne", sans-serif;
  background-color: var(--main-background-color);
}

:root {
  --main-background-color: #101113;
  --main-section-color: #1e1e1e;
  --main-yelow-color: #a6a001;
  --main-header-color: #1e1e1e;
}
.conatiner {
  width: 100%;
  min-height: 100vh;

  box-sizing: border-box;
  overflow: hidden;
}
.loader-button {
  pointer-events: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: anl 1s ease infinite;
}
@keyframes anl {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
.color-tex {
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: 500;
  transition: 0.2s;
}
.active-dash {
  color: #a6a001;
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}
