.blog-body {
  padding-top: 70px;
}

.block {
  display: block;
  text-align: start;
  padding-left: 20px;
}

.right-section {
  height: 50%;
}
.signup_button_class {
  background-color: transparent;
  font-size: 19px;
  text-decoration: none;
  text-align: right;
  padding-top: 0;
  color: white;
}
.signup_button_class:hover {
  color: var(--main-yelow-color);
}

.button-login {
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.button-login a {
  width: 40%;
  padding: 0;
  background-color: transparent;
  margin-right: 20px;
}
.loader-button {
  pointer-events: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: anl 1s ease infinite;
}
@keyframes anl {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
.button-login .button12 {
  background-color: transparent;
  width: 97%;
  display: grid;
  place-content: center;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 40px;
  cursor: pointer;
  color: white;
  background-color: var(--main-yelow-color);
  border: none;
  border-radius: 10px;
  transition: 0.2s;

  margin-left: 20px;
  border: none;
  border-radius: 13px;
  padding: 20px;
}

.button-login button:hover {
  background-color: rgba(192, 191, 191, 0.203);
  color: var(--main-yelow-color);
}

.form-contact {
  background-color: transparent;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}

.form-contact input {
  flex: 1;
  margin-left: 20px;
  border: none;
  border-radius: 13px;
  color: #afafa8;
  padding: 20px;
  background-color: #464642;
}

.top-pad {
  margin-top: 30px;
  width: 40%;
}
.review {
  margin-top: 0;
}
@media only screen and (max-width: 700px) {
  .button-login .button12 {
    position: relative;
    width: 100%;
  }
  .top-pad {
    margin-top: 30px;
    width: 70%;
  }
}
