* {
  background-color: var(--main-header-color);
}
*p {
  background-color: transparent;
}
.blogs-container {
  height: 400px;
  width: 600px;
  background-color: transparent;
  padding: 10px;
}
.image-size-singleblog {
  height: 300px;
  border-radius: 20px;
  width: 500px;
}
.blog-page-container {
  background-color: transparent;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  max-width: 1920px;
  overflow-x: auto;
  border-radius: 20px;
  gap: 0px;
}

.blog-page-container::-webkit-scrollbar {
  height: 2px;
  width: 100%;
  scrollbar-color: var(--main-header-color);
}
.blog-page-container::-webkit-scrollbar-track {
  background-color: transparent;
}
.blog-page-container::-webkit-scrollbar-thumb {
  background-color: rgb(93, 93, 93);
  width: 30px;
}
.blog-page-container a {
  text-decoration: none;
  color: aliceblue;
}
.background-remover {
  background-color: transparent;
}

.center {
  display: flex;
  padding: 10%;
  width: 90%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 51, 51);
  margin-bottom: 70px;
  border-radius: 50px;
}
/* buttton */
.button-right,
.button-left {
  cursor: pointer;
  gap: 40px;
  color: white;
  background-color: rgb(40, 40, 40);
  margin-right: 40px;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  border-radius: 30%;
  transition: 0.3s;
}
.button-left:hover,
.button-right:hover {
  background-color: #a6a001;
}
.button-right {
  margin-left: 40px;
}
/* buttton */
/* full text blog with photo */
.blog-full-text {
  background-color: transparent;
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: baseline;
  padding-left: 8%;
  padding-right: 8%;
}
.blog-body {
  background-color: #1e1e1e;
  width: 85%;
}

.blog-full-text img {
  background-color: transparent;
  height: 339px;
  margin-right: 30px;
  overflow: hidden;
}
.text-description-blog {
  background-color: transparent;
  flex: 1;
  font-family: "Abel", sans-serif;
  color: rgb(235, 235, 235);
  font-size: 19px;
  font-weight: 200;
  text-align: left;
  line-height: 30px;
  padding-bottom: 50px;
}
.load-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-button-button {
  pointer-events: none;
  background-color: transparent;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: anl 1s ease infinite;
}
.loader-button {
  pointer-events: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: anl 1s ease infinite;
}
@keyframes anl {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
.blog-store {
  width: 100%;
  padding-top: 70px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.blog-title {
  background-color: transparent;
  color: #a6a001;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
}

.blog-body {
  max-width: 1920px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 50px;
}

.p-full {
  padding-left: 8%;
  padding-right: 3%;
}
.link-blog .blog-review p {
  font-size: 20px;
}

/* likes button */
.lekes-comments {
  background-color: transparent;
  width: 100%;
  padding-left: 8%;
  display: none;
  gap: 60px;
  padding-bottom: 100px;
}
.contain {
  background-color: transparent;
}
.contain img {
  background-color: transparent;
  width: 50px;
}
.contain p {
  background-color: transparent;
  font-size: 20px;
  color: white;
}

/* commments container */
.comments-container {
  background-color: transparent;
  width: 100%;
  /* display: flex; */
  gap: 30px;
  display: none;
}

.comments {
  width: 50%;
  padding-top: 30px;
  background-color: var(--main-header-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-comments {
  border-radius: 20px;
  width: 40%;
  background-color: var(--main-header-color);
}
.add-title-com {
  background-color: transparent;
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  color: #a6a001;
}
.add-com {
  padding: 8%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-com textarea {
  padding: 20px;
  color: white;
  font-size: 15px;
  text-align: left;
  background-color: rgb(79, 79, 79);
  border: none;
  border-radius: 20px;
  height: 50%;
}
.add-com button {
  background-color: #a6a001;
  color: white;
  width: 50%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  text-align: left;
}
.add-com button:hover {
  background-color: #726f0a;
}

.one-comments {
  padding-bottom: 40px;
  background-color: transparent;
  width: 80%;
  text-align: left;
  display: flex;
  gap: 10px;
}
.one-comments .photo {
  background-color: aliceblue;
  border-radius: 50%;
  width: 60px;
}
.one-comments .photo img {
  background-color: transparent;
  border-radius: 50%;
  width: 60px;
}

.one-comments .text-comm {
  background-color: transparent;
}
.name {
  background-color: transparent;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
.comments-descr {
  background-color: transparent;
  font-size: 17px;
  color: aliceblue;
}
@media only screen and (max-width: 800px) {
  .comments-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .comments {
    width: 100%;
  }
  .add-comments {
    width: 100%;
  }
  .blog-full-text {
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .text-description-blog {
    text-align: center;
  }
  .blog-full-text img {
    height: 230px;
  }
  .blog-body {
    padding-left: 3%;
    padding-right: 3%;
  }
  .link-blog .blog-review p {
    font-size: 19px;
    font-weight: 500;
  }
  .link-blog .blog-review .add-dec {
    font-size: 10px;
  }
}
@media only screen and (max-width: 1500px) {
  .add-com button {
    background-color: #a6a001;
    font-size: 20px;
    text-align: left;
  }
}
